@{
    ViewData["Title"] = "Welcome to Animal Kindgom!";
}

<div class="row">
    <div class="col-md-12 text-center">
        <h1 class="display-4">@ViewData["Title"]</h1>
        <h2 class="display-4">Humans are welcome too! :)</h2>
        <img src="~/images/animals-home.webp" class="img-fluid" alt="@ViewData["Title"]" />
    </div>
</div>